.form-contact {
  padding: 2rem 0rem;
  margin: 2rem 0rem;
}

.form-title {
  font-size: 1.5rem;
  padding: 0.8rem 0rem;
}

.form-content {
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
}

.form-input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 28.125rem;
  height: 1.4375rem;
}

.input-submit {
  border-radius: 0.3rem;
  width: 12.5rem;
  font-size: 1.3rem;
  background: #3ca70af1;
  transition: 2s all;
  cursor: pointer;
}

.input-submit:hover {
  background: #f39018;
  transform: scale(1.1);
}

.input-textarea {
  border-radius: 0.3rem;
  width: 28.125rem;
  height: 9.375rem;
}

table {
  margin: 0.5rem;
  font-weight: bold;
}

thead {
  background: #f39018;
}

thead,
tr,
th,
td,
tbody {
  border: 0.1rem solid #000;
  padding: 0.5rem;
}
