strong {
  color: #f39018;
}

.logo {
  width: 1600px;
  height: 450px;
}

.title {
  padding: 1.1rem 0rem;
  text-align: center;
}

.text {
  text-align: justify;
  padding: 0.8rem 0rem;
  margin: 0.8rem 0rem;
}

.benefit {
  background: #ffffff;
  padding: 0.8rem 0rem;
  margin: 0.7rem 0rem;
}

list-benefit {
  width: 50%;
  display: inline-block;
  border: 0.5rem solid #f39018;
}

.itens {
  font-style: italic;
}

.img-benefit {
  border-radius: 0.3rem;
  padding: 0rem auto;
  width: 30rem;
  height: 23rem;
}
