.product li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  margin: 0 1.5%;
  padding: 0.5rem 0.3rem 0.5rem;
  border: 0.3rem solid #f39018;
  border-radius: 0.8rem;
  background: #ffffff;
  width: 18%;
  height: 18%;
}

.product li:hover {
  border-color: #9289f7;
}

.product li:hover h2 {
  font-size: 1.4rem;
}

.product li:active {
  border-color: #0d550dd7;
}

.title-products {
  font-size: 1.1rem;
}

.description-product {
  font-size: 0.9rem;
}
