body {
  margin: auto 0rem;
  font-family: "Roboto", sans-serif;
  background: #e9e9e9;
}

header {
  background: #f39018;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

p {
  font-size: 1.3rem;
}

.box {
  position: relative;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
}

nav a:hover {
  color: #9289f7;
}

header ul li {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.7rem;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
}

ul {
  padding: 2rem 0rem;
}

footer {
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
  background-color: #f39018;
  margin-top: 0.7rem;
  padding: 0.7rem 0;
}

.footer-img {
  width: 4rem;
  height: 5.3rem;
}

.header-img {
  width: 5.5rem;
  height: 6.5rem;
}
